<div
    class="step"
    *ngFor="let step of config.steps; let i = index"
    [ngClass]="{ selected: step.name === selected, past: i < stepIndex, responsive: responsive$ | async }">
  <div class="step-wraper">
    <div class="badge-wraper">
      <div class="badge">
        <div class="number">
          {{ i + 1 }}
        </div>
        <mat-icon class="icon">
          check
        </mat-icon>
      </div>
    </div>
    <div
        class="label"
        *ngIf="step.label">
      {{ step.label }}
    </div>
  </div>
</div>