<fs-wizard
  #wizard
  [config]="config"
  [(ngModel)]="selected"
  orientation="vertical"
  name="selected">
</fs-wizard>
<br>
<div class="fs-row.gap-xs">
  <button
      mat-stroked-button
      color="primary"
      (click)="first()">
    First
  </button>
  <button
      mat-stroked-button
      color="primary"
      (click)="back()">
    Back
  </button>
  <button
      mat-stroked-button
      color="primary"
      (click)="next()">
    Next
  </button>
  <button
      mat-stroked-button
      color="primary"
      (click)="last()">
    Last
  </button>
</div>
<fieldset>
  <legend>
    Current Step
  </legend>
  {{ selected|json }}
</fieldset>